{% load static %}
<footer>
    <div class="footer_container_top">
        <div class="footer_logo"><a href="{% url 'articles:home' %}">
            <img src="{% static 'images/golden_logo.png' %}" id="footer_logo" alt="Золоті слова"></a>
            <div class="footer_soc">

                <a href="https://t.me/zolotislova" class="tel"></a>
                <a href="https://www.facebook.com/%D0%97%D0%BE%D0%BB%D0%BE%D1%82%D1%96-%D1%81%D0%BB%D0%BE%D0%B2%D0%B0-103460374421454/?ref=br_rs" class="Fb">f</a>
                <a href="#" class="viber"></a>
            </div>
        </div>
        <div class="footer_container_bottom">
            <h6>© 2020 Золоті слова. Всі права захищено, повне або часткове копіювання матеріалів сайту без згоди з
                редакцією заборонено. Редакція може не погоджуватись із думкою авторів та не несе відповідальність за автентичність та достовірність матеріалів журнаістів</h6>
            <div class="footer_end">
                <h6 id="footer_autor">Дизайн та програмування </h6>
                <a href="https://avalan.studio/ua" class="Avalan">Avalan.studio</a>
            </div>
        </div>
     



        
</footer>