{% load poll_extras %}
{% load mptt_tags %}
{% get_categories as category %}
{% privatbank as money %}
{% load static %}
<div class="help-line ">
    <div class="container help-container">
        <!--
                    <div id="enter" class="help-item w30">
                        увійти
                    </div>
        -->
        <div class="help-item w30">
        {% if  money %}


            <span>Курс валют:</span>
            {% for mon in money %}
            {% if mon.ccy == 'USD' %}
            $ - {{mon.buy|floatformat}} / {{mon.sale|floatformat}};
            {% elif mon.ccy == 'EUR' %}
            &euro; - {{mon.buy|floatformat}} / {{mon.sale|floatformat}}
            {% endif %}
            {% endfor %}
        {% endif %}
        </div>
        <!--
                    <div class="help-item " id="weather">
                        Погода на 3 дні
                    </div>
        -->
        <div class="help-item js-btn-form" id="writeUs">
            <div>Написати в редакцію</div>
            <span class="flug"></span>
        </div>
    </div>

    <div class="js-thx-popup thanks-text hide">
        <span id="close_thx">X</span>
        <p>Дякуємо що ви з нами!</p>
    </div>
</div>
<header class="">
    <div class="center-logo">
        <a href="{% url 'articles:home' %}" class="logo">
            <img src="{% static 'images/golden_logo.png' %}" alt="Золоті слова"></a>
    </div>
</header>

<nav class="desktop-nav nav-menu container">
    <a href="{% url 'articles:home' %}" class="logo" style="width: 220px;">
        <img src="{% static 'images/golden_logo.png' %}" alt="Золоті слова" style="max-width: 100%">
    </a>
    <div class="children_block">

        {% recursetree category.all_categories %}
        <div class="category-item {% if node.level == 0 %} arrow {% endif %}">

            <a {% if not node.is_leaf_node %}
               class=""
               {% endif %}
               href="{% if node.level != 0 %} {% url 'articles:category' node.slug %} {% else %}# {% endif %}">
                {{ node.name }}
                {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
                {% endif %}
            </a>
        </div>
        {% endrecursetree %}
        <div class="category-item">
            <a href="{% url 'articles:inetresting' %}">Статистика зараження</a>
        </div>
    </div>
</nav>


<nav class="mobile-nav nav-menu container">
    <a href="{% url 'articles:home' %}" class="logo" style="width: 220px;">
        <img src="{% static 'images/golden_logo.png' %}" alt="Золоті слова" style="max-width: 100%">
    </a>
    <div class="js-show-menu mobile-menu-btn">
        <span class="line-btn"></span>
        <span class="line-btn"></span>
        <span class="line-btn"></span>
    </div>
    <div class="mobile-children">

        {% recursetree category.all_categories %}
        <div class="{% if node.level == 0 %}js-mobile-drop arrow{% endif %}">
            {% if node.level == 0 %}
            <div {% if not node.is_leaf_node %}
                 class=""
                 {% endif %}
                 href="{% if node.level != 0 %} {% url 'articles:category' node.slug %} {% else %}{% endif %}">
                {{ node.name }}
                {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
                {% endif %}
            </div>

            {% else %}
            <a {% if not node.is_leaf_node %}
               class=""
               {% endif %}
               href="{% if node.level != 0 %} {% url 'articles:category' node.slug %} {% else %}{% endif %}">
                {{ node.name }}
                {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
                {% endif %}
            </a>
            {% endif %}
        </div>
        {% endrecursetree %}
        <div class="statCovid">
            <a href="{% url 'articles:inetresting' %}">Статистика зараження</a>
        </div>
        <div class="mobile_schow_block">
            <div class="write_redaktor js-btn-form">Написати в редакцію <span class="tel_icon"></span></div>
            <div class="words_text">© 2020 Золоті слова. Всі права захищено. Повне або часткове копіювання матеріалів
                сайту без згоди з редакцією заборонено.
            </div>
            <div class="programiring">Дизайн та програмування <a
                    href="https://avalan.studio/ua/ class">Avalan.studio</a></div>
        </div>
    </div>
</nav>


<div class="popup-wrap hide">
    <div class="form-wrap">
        <span class="js-close close">X</span>
        <form action="{% url 'articles:form' %}" id="callback_form" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="">E-mail</label>
                <input type="email" name="email">
            </div>
            <div class="form-group">
                <label for="">Повiдомлення</label>
                <textarea name="msg" id="" cols="30" rows="10"></textarea>
            </div>
            <button class="submit-btn load-more">
                Отправить
            </button>
        </form>
    </div>
</div>