.breadcrumbs-wrapper {
  display: flex;

  .home-bread {
    color: #4A8CA6;
  }

  .divider {
    color: #4A8CA6;
  }

  .breadcrumb {
    display: flex;
    list-style-type: none;

    li {
      a {
        color: #4A8CA6;
      }

      p {
        &:last-of-type {
          display: none;
        }
      }

      &:last-of-type {
        a {
          color: black;
        }

        color: black;
      }
    }
  }
}


.mCS-my-theme.mCSB_scrollTools {
  .mCSB_dragger .mCSB_dragger_bar {
    background-color: #545454;
  }

  .mCSB_draggerRail {
    background-color: #272727;
  }


}

.mCSB_scrollTools .mCSB_draggerRail {
  width: 6px;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 6px;
}


@media only screen and (min-width: 320px) and (max-width: 768px) {

  .mt-mob-0 {
    margin-top: 0 !important;
  }
  .breadcrumbs-wrapper {
    margin-top: 12px;
    display: none;
  }
  .decor {
    &:after {
      display: none;
    }
  }


  .js-scroll {
    max-height: 5000px;
    height: auto;
  }
}