.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  .base_after {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f3ce66;
    z-index: -1;
    transition: 0.5s ease all;
  }

  li {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &:after {
      @extend .base_after;
    }

    &:hover {
      border: 1px solid #f3ce66;
    }


    &.mr-0 {
      margin-right: 0;
    }

    &.active {
      &:after {
        @extend .base_after;
        height: 100%;
      }
    }

    a {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}