.popup-wrap {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  align-content: center;
  justify-content: center;
  top: 0;
  z-index: 52;
  background: rgba(0, 0, 0, 0.8);

  &.hide {
    display: none;
  }

  .form-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    width: 100%;

    .form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 12px;

      label {
        color: white;
      }

      input, textarea {
        padding: 5px;
      }
    }

    .submit-btn {
      padding: 12px 20px;
      //background: red;
    }
  }

  .close {
    position: absolute;
    right: 0;
    top: -25px;
    color: white;
    font-weight: bold;
    font-size: 26px;
    cursor: pointer;
  }
}

.thanks-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* background: red; */
  color: black;
  padding: 30px;
  box-sizing: border-box;
  text-align: center;
  background-color: white;
  box-shadow: inset 0 3px 31px -19px;

  &.hide {
    display: none;
  }

  #close_thx {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    font-weight: bold;
    color: black;
    font-size: 18px;
  }
}
