@media only screen and (max-width: 1314px) {
  .children_block {
    display: flex;
    width: 76%;
    height: 100%;
  }
}

@media only screen and (max-width: 1254px) {
  .nav-menu .category-item.arrow {
    position: relative;
    margin-right: 10px;
  }

  .logo {
    margin-left: 1%;
  }
  .nav-menu .category-item {
    position: relative;
    margin-left: 15px;
  }
    .container {

    width: 94%;
  }
   
    #writeUs {
    display: flex;
    width: 26%;
    justify-content: flex-end;
}
}

@media only screen and (max-width: 1124px) {
  .article-wrap .left-col .title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
  }
     
    #writeUs {
    display: flex;
    width: 30%;
    justify-content: flex-end;
}
.container {
    max-width: 1120px;
    width: 90%;
    margin: auto;
}
}

@media only screen and (max-width: 1088px) {
  .nav-menu .category-item.arrow {
    position: relative;
    margin-right: 0px;
    padding: 0 12px;
  }
}

@media only screen and (max-width: 1024px) {

  
  .title {

    font-size: 30px;
  }
  .center-logo:after, .center-logo:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    height: 2px;
    width: 91%;
    background: gold;
  }
  
  .help-container .help-item {
    width: 23%;
  }
}

@media only screen and (max-width: 768px) {
    .table-header {
   
    margin-left: -4px;
}
    .statCovid{
        font-size: 18px;
        &::after{
        content: 'covid-19';
            font-weight: 600;
            color: #6d0000;
        
        
        }}
    .footer_soc a {
   
    margin-right: 12px;
  
}
  
  .center-logo {
    display: none;
  }
    .container {
    max-width: 100%;
    width: 100%;
    margin: auto;
}
  .nav-menu .category-item.arrow {
    position: relative;

    padding: 0 15px;
  }

  .container {
    width: 94%;
    justify-content: space-between;
  }
  .help-container .help-item.w30 {
    width: 49%;
  }
 
  .children_block {

    margin-left: 5%;
    width: 85%;
  }
  .title {

    font-size: 26px;
  }

  .children_block {
    display: flex;
    margin-left: 3%;
    width: 94%;
    justify-content: space-between;
    margin-top: -13px;
  }
  .w30 {
    display: none;
  }
  #weather {
    display: none;
  }
  .articles-wrap .w-50 {
    width: 95%;
    height: 240px;
    margin-left: auto;
  }


  .left-col {

    width: 47%;
    height: auto;
  }
  .w-33 {
    width: 100%;
    height: 280px;
  }

  .float-left {

    height: 100%;
    width: 50%;
  }
  

  .wrap-ccol25 .w-25:nth-of-type(3n) {

    margin-left: auto;
  }

  .wrap-ccol25 {
    flex-wrap: wrap;
  }
  .footer_container_bottom h6 {
    margin-left: 0%;
    font-size: 15px;
    line-height: 19px;
    width: 100%;
  }

  .footer_end {
    margin-right: 0%;
      margin-top: 57px;
  }

  #footer_autor {

    font-size: 15px;
    text-align: end;
    line-height: 17px;
  }
  .footer_soc {
    display: flex;
    margin-top: 22px;
    margin-right: -21px;
  }
  #footer_logo {
    transform: scale(.6);
    margin-top: -6px;
    margin-left: -28%;
  }

  .help-container .help-item.w30 {
    width: 69%;
  }
 
  .flug {
    display: none;
  }
  .w-25 {
    width: 48.5%;
    margin-bottom: 13px;

    height: 220px;
    font-size: 17px;
  }
    .Avalan {
    color: #5780ce;
    margin-top: 0px;
  }
    .help-line {
        display: none;
    }
    .nav-menu {
    background: #494949;
        top: 0px;
    padding-top: 12px;}
    .container {
        width: 100%;}
    
        .mobile-nav.nav-menu .mobile-children .arrow{ border-bottom: 1px solid #C4C4C4;
    font-size: 18px}
    .mobile-nav.nav-menu .mobile-children .arrow .children div a {
    font-size: 18px;
        &:hover{
            font-weight: 600;
        }
}

}

@media only screen and (max-width: 471px) {
  .articles-wrap .w-33 {
    width: 100%;
    margin-right: 0%;
      padding: 0px 5px;
    margin-top: 10px;
    margin-bottom: -10px;
    height: 160px;
    overflow: hidden;
    font-size: 16px;
  }
    .article-wrap .left-col {
    width: 100%;
    padding: 5px;
}
    .wrap-ccol25 .w-25:nth-of-type(4n) {
   
    background-size: 184%;
  
}
    .articles-wrap .w-33 .float_text {
   
    margin-top: 17px;
}
  .abs-img {

    height: 260px;
  }
  .help-container .help-item.w30 {
    width: 64%;
  }
  .w-50 {
    width: 95%;
    margin-top: 10px;
    height: 300px;
    margin-left: 2.5%;
  }
  .articles-wrap {
    .w-25 {
      width: 100%;
      margin-bottom: 13px;
      margin: 0.3%;
     height: 260px;
      font-size: 17px;
        margin-top: 10px;
    }
  }
    .articles-wrap .w-50 {
    width: 95%;
    height: 260px;
    margin-left: auto;
}
    .articles-wrap .w-50:nth-child(2n) {
   
    margin-right: 2%;
}
  .articles-wrap .w-50.dispFlex .left-col {
    width: 100%;
    height: 200px;
  }
  .footer_container_bottom h6 {
    margin-left: 0;
    font-size: 10px;
    line-height: 15px;
        height: 112px;
       margin-top: -61px;
    overflow: hidden;
    width: 100%;
  }
    
  .flug {
    display: none;
  }

  #footer_autor {
    font-size: 14px;
    height: 37px;
  }
  .articles-wrap .w-50.dispFlex .right-col {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
  }
  .articles-wrap .w-33 .float-left {
    float: left;
    margin: 7px 7px 7px 0;
    height: 90%;
    width: 50%;
  }

  .wrap-ccol25 .w-25:nth-of-type(3n) {

    margin-left: 0;
  }


  .abs-img {
    position: relative;
  }

  .w-50 {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    height: 320px;
  }
  .left-col {
    width: 100%;
    height: 350px;
    overflow: hidden;
  }
  .left-col img {
    width: 100%;
    height: auto;
    image-rendering: crisp-edges;
  }
  .right-col {

    margin-top: 15px;
  }
  
  .load-more {

    margin-top: 10px;
  }
  #footer_logo {
    display: none;
  }
  #footer_autor {

    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
  }

  
   
   
       
    
}