* {
  margin: 0;
  padding: 0;
}


html {
  min-height: 100%;
  height: 100%;
}

.date {
  background: rgba(255, 255, 255, 0.5);
  color: black;
  position: absolute;
  z-index: 10;
  font-size: 14px;
  padding: 2px;
  display: flex;
  justify-content: space-between;
  width: 100%;

  span {
    img {
      width: 15px;
    }

    &:last-child {
      display: flex;
      align-items: center;
      font-weight: bold;
      width: 58px;
      justify-content: space-between;
    }
  }
}

.info-article {
  display: flex;
  width: 100%;
  justify-content: space-between;

  .count {
    display: flex;
    align-items: center;

    img {
      margin-right: 6px;
    }
  }
}


body {
  min-height: 100%;
  //display: flex;
  //flex-wrap: wrap;
}

footer {

  height: 150px;
  background: #494949;

  display: flex;
  margin-top: 20px;
  flex-direction: column;

  padding: 0px 30px;

}

a {
  text-decoration: none;
  color: black;

}

.av_cloud {
  display: block;
}

h1 {
  font-size: 33px;
}


input {
  outline: none;
}

.container {
  max-width: 1120px;
  width: 80%;
  margin: auto;
}

.content-wrap {
  margin-top: 27px;
}

.help-line {
  background: grey;
  padding: 5px;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

.messengers {
  display: flex;

  margin-top: 30px;
  margin-bottom: 30px;

}

.messengers_fb, .messengers_tel, .messengers_viber {
  width: 24%;
  height: 30px;
  font-size: 18px;
  border-radius: 5px;
  font-size: 18px;
  line-height: 21px;
  color: white;
  text-align: center;
  padding-top: 4px;
  padding-left: 1%;
  display: flex;
  justify-content: center;


  & span {
    display: block;
    width: 33px;
    height: 35px;
    align-self: center;

  }
}

.messengers_fb {
  background: linear-gradient(180deg, #3B5999 0%, rgba(255, 255, 255, 0) 89.83%), #3B5999;
}

.messengers_tel {
  background: linear-gradient(180deg, #269CD8 0%, rgba(255, 255, 255, 0) 99.09%), #259BD8;
  margin-left: 10px;
  margin-left: 3%;

}

.messengers_viber {
  background: linear-gradient(180deg, #621F90 0%, rgba(255, 255, 255, 0) 100%), #621F90;
  margin-left: 10px;
  margin-left: 3%;
}

.span_fb {
  font-weight: 600;
  text-align: center;
  padding-top: 5px;
  font-size: 21px;
}


@media only screen and (max-width: 768px) {
  .messengers_fb, .messengers_tel, .messengers_viber {
    width: 32%;
    height: 30px;
    font-size: 16px;
    border-radius: 5px;

    line-height: 21px;
    color: white;

    padding-top: 4px;
    padding-left: 1%;
    display: flex;


    & span {
      display: block;
      width: 33px;
      height: 35px;
      align-self: center;

    }
  }
  .article-wrap .right-col {
    width: 30%;
    display: none;
  }
  .messengers_fb {
    background: linear-gradient(180deg, #3B5999 0%, rgba(255, 255, 255, 0) 89.83%), #3B5999;
  }
  .messengers_tel {
    background: linear-gradient(180deg, #269CD8 0%, rgba(255, 255, 255, 0) 99.09%), #259BD8;
    margin-left: 10px;
    margin-left: 1%;

  }
  .messengers_viber {
    background: linear-gradient(180deg, #621F90 0%, rgba(255, 255, 255, 0) 100%), #621F90;
    margin-left: 10px;
    margin-left: 1%;
  }

}

.reKBlockMain {
  display: flex;
  justify-content: space-between;
}

.oneHalf {
  width: 48%;
}

