.article-wrap {
  display: flex;
  justify-content: space-between;

  .left-col_article {
    width: 65%;

    .title {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 34px;
      line-height: 40px;
      margin-top: 28px;
      margin-bottom: 28px;
      color: #2C2B2B;
       
    }
  }

  .right-col {
    width: 30%;
  }
}

.read-more-articles {
  max-height: 300vh;
  overflow: auto;
}

.read-more {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2px;
  margin-bottom: 2px;
  margin-top: 20px;
  border-bottom: 1px solid black;

  .left-col {
    width: 50%;

    img {
      max-width: 100%;
    }
  }

  .right-col {
    width: 45%;
  }
}

.videos-wrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;


  .plyr--full-ui {
    width: 48%;
    margin-bottom: 12px;
  }
}

.title-video {
  margin-top: 24px;
  margin-bottom: 24px;
  width: 100%;
}


.mt48 {
  margin-top: 48px;
}
@media only screen and (max-width: 768px) {
 .article-wrap .left-col_article {
    width: 97%;
    margin-left: 1.5%;
     padding: 0px 5px;

    .title {
     
    font-size: 26px;
    line-height: 24px;
    margin-top: 19px;
    margin-bottom: 10px;
       
    }
    }}
