.articles-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
  padding-right: 5px;
  box-sizing: border-box;
  //z-index: -1;

  .w-25 {
    width: 24.5%;
    //background: rgba(0, 0, 0, 0.5);
    margin-bottom: 27px;
    height: 200px;
    font-size: 20px;
    position: relative;
    margin-right: 0.666666666666666%;
    overflow: hidden;

    &#weather {
      overflow: visible;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }


    .abs-img {
      //position: absolute;
      //top: 0;
      //right: 0;
      //left: 0;
      //bottom: 0;
      width: 100%;
      //height: auto;
      image-rendering: -moz-crisp-edges;
      -ms-interpolation-mode: nearest-neighbor;
      image-rendering: crisp-edges;


    }

    &:hover {
      opacity: 0.95;
    }

    .article-title {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 9px;
      padding-top: 3px;
      padding-bottom: 3px;
      background: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 75px;
      line-height: 24px;

      font-family: unset;
      font-style: normal;
      font-size: 19px;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: 0, 5s;

      &:hover {
        background: rgba(13, 13, 13, 0.61);
      }


      .article-link {
        color: white;

      }
    }
  }

  .w-50 {
    width: calc((100% / 2) - 1%);

    margin-bottom: 5px;
    height: 175px;
    overflow: hidden;
    margin-right: 2%;
    font-size: 19px;
    line-height: 24px;

    font-family: unset;
    font-style: normal;

    text-align: left;

    text-overflow: ellipsis;
    transition: 0, 5s;


    &:nth-child(2n) {
      margin-right: 0;
    }

    &.dispFlex {
      display: flex;
      justify-content: space-between;

      .left-col {
        width: 240px;
        height: 150px;
        overflow: hidden;

        img {
          max-width: 100%;
        }
      }

      .right-col {
        width: 49%;
        margin-left: 20px;
        margin-right: 20px;


        .link {

        }
      }
    }
  }

  .w-33 {
    width: 32%;
    margin-right: 2%;
    padding-right: 5px;
    height: 180px;
    overflow: hidden;
    font-size: 17px;
    position: relative;
    margin-bottom: 8px;

    &:nth-of-type(3n) {
      margin-right: 0;
    }

    .float-left {
      float: left;
      margin: 7px 7px 7px 0;

      max-height: 100%;
      //width: 50%;

    }

    .float_text {
      display: block;
      border-right: 1.5px solid #E4C15F;

      padding-right: 5px;

    }

    .link {
      padding-left: 5px;
      display: block;
    }
  }
}

.pos-rel {
  position: relative;

  .abs-link {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
  }
}

.load-more {
  cursor: pointer;

  background-color: #292828;
  padding: 10px 25px;
  border-radius: 11px;
  font-size: 17px;
  color: white;
  display: block;
  margin: auto;

  &:hover {
    background: #505050;
    color: white;
    border: 1px solid white;
  }
}

.help-container {
  display: flex;
  justify-content: space-between;

  .help-item {
    width: 18%;
    display: flex;
    justify-content: space-between;

    &.w30 {
      width: 50%;
      justify-content: right;

      & span {
        margin-right: 10px;
      }
    }
  }
}


.wrap-ccol25 {
  width: 100%;
  display: flex;

  .w-25:nth-of-type(4n) {
    margin-right: 0;
    background-image: url(../img/clouds.jpg);
    background-attachment: fixed;
    background-size: 56%;
    padding: 8px;

  }
}

#weather p b {
  font-weight: 600;
  color: #1f1f1f;

}

#weather p {
  font-size: 18px;
}

@media only screen and (max-width: 768px) {

  .logo {
    //display: none;
  }
  .logo img {
    //display: none;
  }
  .children_block {
    display: flex;
    margin-left: 3%;
    width: 94%;
    justify-content: space-between;
    margin-top: -13px;
  }
  .w30 {
    display: none;
  }
  .w-25 {
    width: 31%;
  }
  .reclam_right {
    width: 100%;
    height: 100%;

  }

}

.max-size-240x150 {
  width: 240px;
  height: 150px;
  overflow: hidden;
  position: relative;
  float: left;
  margin-right: 4px;
}