$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit / 2;

$color-alpha: #1772FF;
$color-form-highlight: #EEEEEE;


.table-content {
  max-height: 800px;
  overflow: auto;
}

#global_info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.table {
  width: 100%;
  border: 1px solid $color-form-highlight;
}

.col-width-3 {
  .header__item {
    width: calc(100% / 3);
  }

  .table-data {
    width: calc(100% / 3);
  }
}

.col-width-2 {
  .header__item {
    width: calc(100% / 2);
  }

  .table-data {
    width: calc(100% / 2);
  }
}

.table-header {
  display: flex;
  align-items: center;
  width: 100%;
  background: #434242;
  //padding: ($half-spacing-unit * 1.5) 0;
  //margin-bottom: 12px;
  margin-bottom: 4px;
  height: 50px;

  &.sticky-header {
    position: sticky;
    top: 88px;
    height: 50px;
    padding-right: 16px;

  }
}

.table-row {
  display: flex;
  width: 100%;
  //padding: ($half-spacing-unit * 1.5) 0;
  height: 50px;
  align-items: center;
  margin-bottom: 2px;

  &:nth-of-type(odd) {
    background: $color-form-highlight;
    //padding-left: 8px;
  }

  &:nth-of-type(even) {

    //padding-left: 8px;
  }
}

.table-data, .header__item {
  //flex: 1 1 20%;
  width: calc(100% / 8);
  text-align: center;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;

  &.border-right {
    border-right: 1px solid white;
  }
}

.header__item {
  text-transform: uppercase;
}

.stats-title {
  margin-top: 24px;
  margin-bottom: 12px;
}

.filter__link {
  color: white;
  text-decoration: none;
  position: relative;
  padding-left: $base-spacing-unit;
  padding-right: $base-spacing-unit;
  font-size: 12px;
  height: 100%;
  display: flex;
  //background: red;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  &::after {
    content: '';
    position: absolute;
    right: -($half-spacing-unit * 1.5);
    color: white;
    font-size: $half-spacing-unit;
    top: 50%;
    transform: translateY(-50%);
  }

  &.desc::after {
    content: '(desc)';
  }

  &.asc::after {
    content: '(asc)';
  }

}

.container-info {
  display: flex;
  justify-content: space-between;

  .left-col {
    width: 100%;
    height: auto;
  }

  .right-col {
    //width: 45%;
    //height: 300px;
    background: yellowgreen;
  }
}

@media only screen and (max-width: 768px) {
  .filter__link {
    font-size: 8px;
    overflow: hidden;
  }

  .table-data {
    font-size: 10px;
  }
  .table-header.sticky-header {
    top: 59px;
  }
}