{% load static %}
{% load cropping %}
<div class="w-50 dispFlex js-article">

    <div class="left-col pos-rel">
        <p class="date">{{article.date|date:"m-d-Y"}}
            {% if article.show_count %}
            <span>
        <img class="lazy" src="{% static 'images/visible.png' %}" alt="">
        {{article.count}}
    </span>
            {% endif %}
        </p>
        <a href="{% url 'articles:article' article.slug %}" class="abs-link"></a>


        {% if article.image %}

        {% if article.cropping_50 %}
        <img class="lazy" src="{% cropped_thumbnail article 'cropping_50'  %}" alt="Zoloti">
        {% else %}
        <img class="lazy" src="{{article.image.url}}" alt="Zoloti">
        {% endif %}
        {% else %}
        <img class="lazy" src="{% static 'images/default.jpg' %}" alt="Zoloti">
        {% endif %}


    </div>
    <div class="right-col">
        <a class="link" href="{% url 'articles:article' article.slug %}">{{article.title|truncatechars:'230'}}</a>
    </div>
</div>