{% load static %}
{% load cropping %}
<div class="w-33 js-article">

    <div class="max-size-240x150">
        <p class="date">

            {{article.date|date:"m-d-Y"}}
            {% if article.show_count %}
            <span>
        <img class="lazy" data-src="{% static 'images/visible.png' %}" alt="">
        {{article.count}}
    </span>

            {% endif %}
        </p>
        {% if article.image %}
            {% if article.cropping_33 %}
                <img class="float-left lazy" data-src="{% cropped_thumbnail article 'cropping_33'  %}" alt="Zoloti">
            {% else %}
                <img class="float-left lazy" data-src="{{article.image.url}}" alt="Zoloti">
            {% endif %}
        {% else %}
        <img class="float-left lazy" data-src="{% static 'images/default_1.jpg' %}" alt="Zoloti">
        {% endif %}
    </div>
    <a class="float_text" href="{% url 'articles:article' article.slug %}">{{article.title|truncatechars:'200'}}</a>
</div>