{% load static %}
{% load cropping %}
<div class="w-25 js-article">
    <div class="date">
        <span>{{article.date|date:"m-d-Y"}}</span>
        <span>
             {% if article.show_count %}
        <img class="lazy" data-src="{% static 'images/visible.png' %}" alt="">
        {{article.count}}
             {% endif %}
    </span>
    </div>
    {% if article.image %}
    {% if article.cropping_25 %}
   <img class="abs-img lazy" data-src="{% cropped_thumbnail article 'cropping_25'  %}" alt="Zoloti">
    {% else %}
    <img class="abs-img lazy" data-src="{{article.image.url}}" alt="Zoloti">
    {% endif %}

    {% else %}
    <img class="abs-img lazy" data-src="{% static 'images/default.jpg' %}" alt="Zoloti">
    {% endif %}
    <div class="article-title">
        <a class="article-link"
           href="{% url 'articles:article' article.slug %}">{{article.title|truncatechars:'200'}}</a>
    </div>
</div>