.footer_container_top{

}

.footer_logo{
 width: 100%;
     display: flex;
justify-content: space-between;
    margin-top: -3px;
    height: 46px;
    & a{
        display: block;
        transform: scale(0.9);
    }}


.footer_container_bottom{
 display: flex; 
    flex-basis: end;
     line-height: 20px;
        margin-top: 33px;

    font-size: 18px;

    color: #FFFFFF;
    justify-content: space-between;
}
.footer_container_bottom h6{
        font-family: inherit;
font-style: normal;
font-weight: normal;
    margin-left: 4%;
    margin-top: -13px;
font-size: 17px;
line-height: 21px;
width: 57%;}
.Avalan{
    color: #5780CE;
      margin-top: 10px;
    text-align: right;
    display: block;
}

.footer_soc{
    display: flex;
    margin-top: 22px;
    margin-right: 10px;
   
    & a{
        width: 36px;
        height: 36px;
        margin-right: 20px;
        font-size: 27px;
        font-weight: 700;
        color: white;
        display: block;
        border: 2px solid white;
        border-radius: 50%;
    }
}
.tel{background-image: url(../img/telegram.svg);
   
    background-repeat: no-repeat;
    background-size: 75% 75%;
    background-origin: content-box;
  
    padding-top: 5px;
    padding-left: 3px;


}

.viber{background-image: url(../img/viber.svg);
   
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
   padding-left: 5px;
    padding-top: 1px;



}
.footer_end{
    margin-right: 3%;
}
#footer_logo{
    transform: scale(0.73);
    margin-top: -6px
}
.Fb{text-align: center;
    font-weight: 700;
    margin-top: 1px;
}
#footer_autor {width: 100%;
    font-family: inherit;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 21px;}