
.nav-menu {
  align-items: center;
  position: sticky;
  top: 29px;
  z-index: 20;

  display: flex;
  background-color: white;
  box-shadow: inset 0 3px 31px -19px;
  height: 59px;

  .category-item {

    position: relative;
    margin-left: 30px;
    height: 100%;
    font-size: 19px;
    display: flex;
    align-items: center;

    &.arrow {
      position: relative;
      margin-right: 10px;
      padding: 0px 20px;

      &:after {
        content: "";
        border: 4px solid transparent;
        border-top-color: #000;
        position: absolute;
        right: 3px;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.2s;

      }

      &:hover {
        color: #e2bf60;


        background-color: white;
        align-self: center;
        box-shadow: 0px 0px 0px -1px black, 0px 1px 4px -2px black;

        &:after {
          transform: translateY(-50%) rotate(180deg);
        }
      }
    }


    &:hover {
      .children {
        opacity: 1;
        visibility: visible;
      }

    }


    .children {
      display: block;
      position: absolute;
      width: 100%;
      top: 100%;
      margin-left: -20px;
      opacity: 0;
      box-shadow: 0px 0px 2.5px -1px black, 0px 2px 4px -2px black;
      padding: 0 19px 23px;
      visibility: hidden;
      background: white;
      z-index: 15;

      .category-item {
        margin-left: 0;
        background-color: white;
        margin-top: 10px;
      }

      a {
        top: 4px;
        position: relative;

        &:hover {
          color: #e2bf60;
        }


      }
    }
  }
}

#enter {
  opacity: 0;
}

.children_block {
  display: flex;

  width: 69%;


  height: 100%;


}

.flug {
  display: block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url(../img/telegram.svg);
  align-self: center;
}

.logo {
  display: block;
  margin-left: 3%;
}

.center-logo {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  font-size: 40px;
  position: relative;
  overflow: hidden;
  background: white;

  &:after {
    content: "";
    display: block;
    position: absolute;
    left: -60%;
    top: 50%;
    height: 2px;
    width: 95%;
    background: gold;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    right: -60%;
    top: 50%;
    height: 2px;
    width: 95%;
    background: gold;
  }
}

#writeUs {
  display: flex;
  width: 22%;
  justify-content: flex-end;
}

#weather:before {
  //    content: '<img src="../../" alt="Золоті слова">'

}

.mobile-nav {
  display: none;
}

.desktop-nav {
  //display: block;
}
 .mobile_schow_block{display: none;
color: #979696;
font-style: normal;
font-weight: normal;
  font-family: unset;}
.write_redaktor {

font-size: 17px;
line-height: 19px;
    margin-bottom: 10px;
    display: flex;



}
.tel_icon{display: block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url(../img/telegram.svg);
  align-self: center;}


    .words_text{
font-size: 13px;
line-height: 14px;
margin: 10px 0px;}
.programiring a{
    color: #2d3df7;
}

@media only screen and (max-width: 768px) {
  .mobile-menu-btn {
    right: 0;
    width: 40px;
    display: block;
    transform: rotate(0deg) translateX(-50%);
    height: 45px;
    position: absolute;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;

    .line-btn {
      height: 4px;
      display: block;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      position: absolute;
      width: 100%;
      background: #d4c497;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
    }

    .line-btn:first-child {
      top: 10px;
    }

    .line-btn:nth-child(2) {
      top: 20px;
    }

    .line-btn:nth-child(3) {
      top: 30px;
    }

    &.open {
      .line-btn:first-child {
        top: 18px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
      }

      .line-btn:nth-child(2) {
        opacity: 0;
        left: -60px;
      }

      .line-btn:nth-child(3) {
        top: 18px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
      }
    }


  }
  .mobile-nav {
    display: flex;
    justify-content: space-between;

    &.nav-menu {
      .mobile-children {

        &.show {
          display: block;
            
    width: 100%;
    height: 500px;
        }

        display: none;
        top: 100%;
        right: 0;
        align-self: flex-start;
        position: absolute;
        background-color: #fff;
        box-shadow: none;
        padding: 15px;


        .arrow {
          position: relative;

          &.arrow-up {
            &:after {
              transform: rotate(180deg);
            }
          }

          &:after {
           content: "";
    border: 4px solid transparent;
    border-top-color: #494949;
    position: absolute;
    right: 0px;
    left: 119px;
    top: 10px;
    transition: .4s;


          }

         
          margin-bottom: 10px;

          a:first-of-type {
            text-transform: capitalize;
          }

          .children {
            margin-top: 8px;
            padding-left: 20px;
            height: 0;
            overflow: hidden;

            div {
              margin-bottom: 5px;

              a {
                 font-size: 18px;
        &:hover{
            font-weight: 600;
        }
              }
            }

            &.show {
              height: auto;
              overflow: visible;
            }
          }
        }
      }
    }

    .btn-mobile-nav {
      position: absolute;
      right: 0;
      width: 50px;

      span {
        height: 2px;
        width: 100%;
      }
    }
  }

  .desktop-nav {
    display: none;
  }
   .mobile_schow_block{display: block;
    position: absolute;
    bottom: 30px;}

}