<div class="wrap-ccol25">
    {% with col_3=articles|slice:":4" %}
        {% for article in col_3 %}
            {% include 'article_cols/article_25.html' with article=article %}
        {% endfor %}

    {% endwith %}
</div>
{% with col_3=articles|slice:"4:8" %}
    {% for article in col_3 %}
        {% include 'article_cols/article_50.html' with article=article %}
    {% endfor %}
{% endwith %}
<div class="wrap-ccol25">
    {% with col_3=articles|slice:"8:12" %}
        {% for article in col_3 %}
            {% include 'article_cols/article_25.html' with article=article %}
        {% endfor %}
    {% endwith %}
</div>
{% with col_3=articles|slice:"12:18" %}
    {% for article in col_3 %}
        {% include 'article_cols/article_33.html' with article=article %}
    {% endfor %}
{% endwith %}

{% with col_3=articles|slice:"18:22" %}
    {% for article in col_3 %}
        {% include 'article_cols/article_50.html' with article=article %}
    {% endfor %}
{% endwith %}
<div class="wrap-ccol25">
    {% with col_3=articles|slice:"22:26" %}
        {% for article in col_3 %}
            {% include 'article_cols/article_25.html' with article=article %}
        {% endfor %}
    {% endwith %}
</div>
{% with col_3=articles|slice:"26:32" %}
    {% for article in col_3 %}
        {% include 'article_cols/article_33.html' with article=article %}
    {% endfor %}
{% endwith %}


<script>
    App.lazy_laod();
</script>