{% extends 'index.html' %}
{% load poll_extras %}
{% load static %}

{% block content %}
<div class="content-wrap">
    <div class="container-info">
        <div class="left-col">
            <div id="global_info">
                <div class="table" style="width: 60%">
                    <div class="table-header col-width-3">
                        <div class="header__item filter__link">
                            Випадків зараження
                        </div>
                        <div class="header__item filter__link">
                            Кількість летальних випадків
                        </div>
                        <div class="header__item filter__link">
                            Вилікувалось
                        </div>
                    </div>
                    <div class="table-content ">
                        <div class="table-row col-width-3">
                            <div class="table-data border-right js-global-cases">Tom</div>
                            <div class="table-data border-right js-global-deaths">2</div>
                            <div class="table-data js-global-recovered">0</div>
                        </div>
                    </div>
                </div>

                <div class="table" style="width: 38%">
                    <div class="table-header col-width-2">
                        <div class="header__item filter__link">
                            Випадків за сьогодні
                        </div>
                        <div class="header__item filter__link">
                            Летальні випадки за сьогодні
                        </div>

                    </div>
                    <div class="table-content">
                        <div class="table-row col-width-2">
                            <div class="table-data border-right js-today-cases"></div>
                            <div class="table-data js-today-letal"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <h2 class="stats-title">Статистика по Україні</h2>
    <div class="table">
        <div class="table-header ">
            <div class="header__item filter__link">
                Країна
            </div>
            <div class="header__item filter__link">
                Випадків
            </div>
            <div class="header__item filter__link" style="background: #f4a694; color: black;">
                Випадків за сьогодні
            </div>
            <div class="header__item filter__link">
                Летальні (всього)
            </div>
            <div class="header__item filter__link" style="background: #fe2600;">
                Летальні сьогодні <br><span class="js-now-date"></span>
            </div>
            <div class="header__item filter__link">
                Вилікувались
            </div>
            <div class="header__item filter__link">
                Активні пітвердженні
            </div>
            <div class="header__item filter__link">
                Критичні
            </div>
        </div>
        <div class="table-content" id="info_our_country">

        </div>
    </div>
    <div class="right-col">
        <h2 class="stats-title">Статистика по інших країнах світу</h2>
        <div class="table">
            <div class="table-header sticky-header">
                <div class="header__item filter__link">
                    Країна
                </div>
                <div class="header__item filter__link">
                    Випадків
                </div>
                <div class="header__item filter__link" style="background: #f4a694; color: black;">
                    Випадків за сьогодні
                </div>
                <div class="header__item filter__link">
                    Летальні (всього)
                </div>
                <div class="header__item filter__link" style="background: #fe2600;">
                    Летальні сьогодні <br><span class="js-now-date"></span>
                </div>
                <div class="header__item filter__link">
                    Вилікувались
                </div>
                <div class="header__item filter__link">
                    Активні пітвердженні
                </div>
                <div class="header__item filter__link">
                    Критичні
                </div>
            </div>
            <div class="table-content" id="info_country">

            </div>
        </div>
    </div>
    <!--    {% for fact in facts %}-->
    <!--    <div>{{fact.content|safe}}</div>-->
    <!--    <hr>-->
    <!--    <br>-->
    <!--    {% endfor %}-->
</div>
{% endblock %}

{% block js %}
<script>
    App.stats.init();
</script>

{% endblock %}